<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <center>
        <img src="https://ufrn.br/resources/img/logo-ufrn-color-og.png">
        <h1>TELA DE CADASTRO DE QUESTÕES</h1>

        <form id="formulario" style="width: 400px">

            <div class="mb-3">
                <label for="enunciado" class="form-label">Enunciado</label>
                <input type="text" class="form-control" id="enunciado">
            </div>

            <div class="mb-3">
                <span>
                    Alternativas
                </span>
                <div>
                    <label for="A" class="form-label">A</label>
                    <input type="text" class="form-control" id="A">
                </div>
                <div>
                    <label for="B" class="form-label">B</label>
                    <input type="text" class="form-control" id="B">
                </div>
                <div>
                    <label for="C" class="form-label">C</label>
                    <input type="text" class="form-control" id="C">
                </div>
                <div>
                    <label for="D" class="form-label">D</label>
                    <input type="text" class="form-control" id="D">
                </div>
            </div>

            <div class="mb-3">
                <label for="respostas" class="form-label">Resposta</label>
                <select name="Alternativas" id="resposta">
                    <option value="0">A</option>
                    <option value="1">B</option>
                    <option value="2">C</option>
                    <option value="3">D</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="dificuldade" class="form-label">Dificuldade</label>
                <input type="text" class="form-control" id="dificuldade">
            </div>

            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <input type="text" class="form-control" id="categoria">
            </div>
        </form>

        <button class="btn btn-primary" onclick="cadastrar()">Cadastrar</button></br></br>

        <div id="teste"></div><br>


        <button class="btn btn-light" onclick="voltar()"> Voltar </button><br><br>

    </center>
    <!-- Importando a biblioteca axios para fazer requisições-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function voltar(){
            window.location.replace('/QuestoesCadastradas');
        }
        var index = 1;
        //Função para enviar questão para o banco
        function cadastrar() {
            var enun = document.getElementById("enunciado").value;
            var altA = document.getElementById("A").value;
            var altB = document.getElementById("B").value;
            var altC = document.getElementById("C").value;
            var altD = document.getElementById("D").value;
            var res = document.getElementById("resposta").value;
            var difi = document.getElementById("dificuldade").value;
            var cat = document.getElementById("categoria").value;
            var q;
            //Recuperando o token
            const token = window.localStorage.getItem('token');

            //Requisição POST para cadastrar questão
            axios.post('http://localhost:3000/question', {
                enunciado: enun,
                alternativas: [altA, altB, altC, altD],
                resposta: res,
                dificuldade: difi,
                categoria: cat,
            });
            alert("Questão cadastrada com sucesso");
            window.location.replace('QuestoesCadastradas');
        }
    </script>
</body>

</html>