<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <center>
        <img src="https://ufrn.br/resources/img/logo-ufrn-color-og.png">
        <h1>TELA DE PROVAS</h1>

        <div id="teste" style = "display: flex; flex-wrap: wrap; justify-content: space-around; max-width: 100%; "></div><br>
        <button class="btn btn-light" onclick="logout()"> <a style="text-decoration: none"> Deslogar </a>
        </button><br><br>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function carregar() {
            const resposta = await axios.get('http://localhost:3000/exam');
            const data = resposta.data.exams;
            document.getElementById("teste").innerHTML = '';
            var q;
            for (let i = 0; i < data.length; i++) {
                q = `<div class='card' style='width: 18rem; margin-bottom: 20px'>\
                            <div class='card-body'>\
                               <h5 class='card-title'>Prova  ${i + 1} </h5>\
                               <p class='card-text'>id:  ${data[i].id} </p><br/>\
                               <p class='card-text'>Professor:  ${data[i].teachername??'Professor x'} </p><br/>\
                           </div>\
                        </div></br>`;

                document.getElementById("teste").innerHTML += q;
            }
        }
        carregar();

        function logout() {
            axios.get('http://localhost:3000/logout');
            window.location.replace('/');
        }
    </script>
</body>

</html>